{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
    <title></title>
</head>
<body>
<div class="container my-3">
    <div class="container-fluid">
        <button class="btn btn-success">보험료 관리</button> &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success">급여항목관리(고정)</button> &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success">급여항목관리(비고정)</button>
        <div><br/></div>
        <table class="table table-bordered table-hover table-sm margin">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>구분</th>
                  <th>항목명</th>
                  <th>과세여부</th>
                  <th>절사단위</th>
                  <th>사용여부</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td>
                 <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td>
                 <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td>
                 <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td> <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td>
                 <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td> <tr class="text-center">
                    <td>지급</td>
                    <td>기본급</td>
                    <td>과세</td>
                    <td>십단위</td>
                    <td>예</td>
                </tbody>
        </table>
    </div>
</div>
</body>
</html>